# TW1

## Pandas Series and DataFrame

- Practice Pandas Series and DataFrame with examples.

#### Write full names of your team members who worked together.




#### Submission:

- Push the completed code to your Github repository.

## Part 0

Practice Pandas Series and DataFrame with the given examples.

In [2]:
import pandas as pd

In [3]:
alist = ['Mouse', 'Giraffe', 'Tiger', 'Dog', 'Hippopotamus', 'Moose', 'Bear']
animals = pd.Series(alist)
animals

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [4]:
animals[2]

'Tiger'

In [ ]:
animals.iloc[2]

In [ ]:
animals.loc[2]

In [ ]:
s1 = pd.Series(alist, index=[0, 1, 2, 3, 4, 5, 6])
s1

In [ ]:
s2 = pd.Series(alist, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2

In [ ]:
s2['c']

In [ ]:
s2.loc['c']

In [ ]:
s2.iloc[2]

In [ ]:
names = ['Chris', 'Kevin', 'Bob', 'Vinod', 'Daniel', 'Fil', 'Stephanie']
owners = pd.Series(names)
owners

In [ ]:
frame = {'animals': animals, 'owners': owners}

df = pd.DataFrame(frame)

df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
type(df['animals'])

In [ ]:
df.iloc[0]

In [ ]:
df.loc[0][1]

In [ ]:
# copy an existing DataFrame to create a new dataFrame
copy_df = df.copy()
copy_df

In [ ]:
# drop columns

df2 = df.drop(['owners'], axis = 1)

df2

In [ ]:
# drop columns

df3 = df.drop(columns = ['owners'])

df3

In [ ]:
# drop rows

df4 = df.drop([0,1])
df4

In [ ]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight']],
                     codes=[[0, 0, 1, 1, 2, 2],
                            [0, 1, 0, 1, 0, 1]])

midx

In [ ]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[45, 30], [200, 100], [30, 20], [250, 150], [320, 250],[1, 0.8]])

df

In [ ]:
df.drop(index='cow', columns='small')

In [ ]:
df.drop(index='weight', level=1)

## Part 1 Task 1

Given the data below, implement each tasks. 

<img src="img/df.png" style="height:200px"> 

(1) Create a DataFrame.

(2) Access the first row data and print it.

(3) Access the first column data (indexed by 'dept') and print it.

(4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

In [ ]:
import pandas as pd

# (1) Create the DataFrame
data = {
    "dept": ["CS", "Bio", "Chem", "Phy", "Eng"],
    "floor": [5, 3, 3, 2, 4]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

In [ ]:
# (2) Access and print the first row
print("\nFirst row:")
print(df.iloc[0])

In [ ]:
# (3) Access and print the first column ('dept')
print("\nFirst column (dept):")
print(df["dept"])

In [ ]:
# (4) Create a new DataFrame by dropping the 'floor' column
df_new = df.drop(columns=["floor"])
print("\nDataFrame after dropping 'floor' column:")
print(df_new)

## Part 1 Task 2

Practice with a data file. 

(1) Choose one data file from the data folder in the given TW1 folder.

(2) Read the data into a DataFrame. 

(3) Access the rows and columns. 

(4) Drop some columns.

In [7]:
import pandas as pd

file_path = "../data/cars.csv"

# (2) Read the data into a DataFrame
df = pd.read_csv(file_path)

print("Original DataFrame:")
print(df)

# (3) Access rows and columns

# Access first 5 rows
print("\nFirst 5 rows:")
print(df.head())

# Access a specific row (e.g., first row)
print("\nFirst row:")
print(df.iloc[0])

# Access a specific column (replace 'column_name' with actual name)
print("\nSingle column:")
print(df["Make"])

# (4) Drop some columns
# Replace column names with ones from your dataset
df_dropped = df.drop(columns=["Model", "Size"])

print("\nDataFrame after dropping columns:")
print(df_dropped)

Original DataFrame:
    YEAR        Make                            Model                   Size  \
0   2012  MITSUBISHI                           i-MiEV             SUBCOMPACT
1   2012      NISSAN                             LEAF               MID-SIZE
2   2013        FORD                   FOCUS ELECTRIC                COMPACT
3   2013  MITSUBISHI                           i-MiEV             SUBCOMPACT
4   2013      NISSAN                             LEAF               MID-SIZE
5   2013       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
6   2013       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
7   2013       TESLA         MODEL S (40 kWh battery)              FULL-SIZE
8   2013       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
9   2013       TESLA         MODEL S (85 kWh battery)              FULL-SIZE
10  2013       TESLA              MODEL S PERFORMANCE              FULL-SIZE
11  2014   CHEVROLET                         SPARK EV             SUBCOMPACT
12  2014        FORD                   FOCUS ELECTRIC                COMPACT
13  2014  MITSUBISHI                           i-MiEV             SUBCOMPACT
14  2014      NISSAN                             LEAF               MID-SIZE
15  2014       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
16  2014       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
17  2014       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
18  2014       TESLA         MODEL S (85 kWh battery)              FULL-SIZE
19  2014       TESLA              MODEL S PERFORMANCE              FULL-SIZE
20  2015         BMW                               i3             SUBCOMPACT
21  2015   CHEVROLET                         SPARK EV             SUBCOMPACT
22  2015        FORD                   FOCUS ELECTRIC                COMPACT
23  2015         KIA                          SOUL EV  STATION WAGON - SMALL
24  2015  MITSUBISHI                           i-MiEV             SUBCOMPACT
25  2015      NISSAN                             LEAF               MID-SIZE
26  2015       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
27  2015       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
28  2015       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
29  2015       TESLA         MODEL S (70 kWh battery)              FULL-SIZE
30  2015       TESLA      MODEL S (85/90 kWh battery)              FULL-SIZE
31  2015       TESLA                      MODEL S 70D              FULL-SIZE
32  2015       TESLA                  MODEL S 85D/90D              FULL-SIZE
33  2015       TESLA                MODEL S P85D/P90D              FULL-SIZE
34  2016         BMW                               i3             SUBCOMPACT
35  2016   CHEVROLET                         SPARK EV             SUBCOMPACT
36  2016        FORD                   FOCUS ELECTRIC                COMPACT
37  2016         KIA                          SOUL EV  STATION WAGON - SMALL
38  2016  MITSUBISHI                           i-MiEV             SUBCOMPACT
39  2016      NISSAN            LEAF (24 kWh battery)               MID-SIZE
40  2016      NISSAN            LEAF (30 kWh battery)               MID-SIZE
41  2016       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
42  2016       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
43  2016       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
44  2016       TESLA         MODEL S (70 kWh battery)              FULL-SIZE
45  2016       TESLA      MODEL S (85/90 kWh battery)              FULL-SIZE
46  2016       TESLA                      MODEL S 70D              FULL-SIZE
47  2016       TESLA                  MODEL S 85D/90D              FULL-SIZE
48  2016       TESLA            MODEL S 90D (Refresh)              FULL-SIZE
49  2016       TESLA                MODEL S P85D/P90D              FULL-SIZE
50  2016       TESLA           MODEL S P90D (Refresh)              FULL-SIZE
51  2016       TESLA                      MODEL X 90D         SUV - STANDARD
52  2016       TESLA                     MODEL X P90D         SUV - STANDARD

    (kW) Unnamed: 5 TYPE  CITY (kWh/100 km)  HWY (kWh/100 km)  \
0     49         A1    B               16.9              21.4
1     80         A1    B               19.3              23.0
2    107         A1    B               19.0              21.1
3     49         A1    B               16.9              21.4
4     80         A1    B               19.3              23.0
5     35         A1    B               17.2              22.5
6     35         A1    B               17.2              22.5
7    270         A1    B               22.4              21.9
8    270         A1    B               22.2              21.7
9    270         A1    B               23.8              23.2
10   310         A1    B               23.9              23.2
11   104         A1    B               16.0              19.6
12   107         A1    B               19.0              21.1
13    49         A1    B               16.9              21.4
14    80         A1    B               16.5              20.8
15    35         A1    B               17.2              22.5
16    35         A1    B               17.2              22.5
17   225         A1    B               22.2              21.7
18   270         A1    B               23.8              23.2
19   310         A1    B               23.9              23.2
20   125         A1    B               15.2              18.8
21   104         A1    B               16.0              19.6
22   107         A1    B               19.0              21.1
23    81         A1    B               17.5              22.7
24    49         A1    B               16.9              21.4
25    80         A1    B               16.5              20.8
26    35         A1    B               17.2              22.5
27    35         A1    B               17.2              22.5
28   283         A1    B               22.2              21.7
29   283         A1    B               23.8              23.2
30   283         A1    B               23.8              23.2
31   280         A1    B               20.8              20.6
32   280         A1    B               22.0              19.8
33   515         A1    B               23.4              21.5
34   125         A1    B               15.2              18.8
35   104         A1    B               16.0              19.6
36   107         A1    B               19.0              21.1
37    81         A1    B               17.5              22.7
38    49         A1    B               16.9              21.4
39    80         A1    B               16.5              20.8
40    80         A1    B               17.0              20.7
41    35         A1    B               17.2              22.5
42    35         A1    B               17.2              22.5
43   283         A1    B               22.2              21.7
44   283         A1    B               23.8              23.2
45   283         A1    B               23.8              23.2
46   386         A1    B               20.8              20.6
47   386         A1    B               22.0              19.8
48   386         A1    B               20.8              19.7
49   568         A1    B               23.4              21.5
50   568         A1    B               22.9              21.0
51   386         A1    B               23.2              22.2
52   568         A1    B               23.6              23.3

    COMB (kWh/100 km)  CITY (Le/100 km)  HWY (Le/100 km)  COMB (Le/100 km)  \
0                18.7               1.9              2.4               2.1
1                21.1               2.2              2.6               2.4
2                20.0               2.1              2.4               2.2
3                18.7               1.9              2.4               2.1
4                21.1               2.2              2.6               2.4
5                19.6               1.9              2.5               2.2
6                19.6               1.9              2.5               2.2
7                22.2               2.5              2.5               2.5
8                21.9               2.5              2.4               2.5
9                23.6               2.7              2.6               2.6
10               23.6               2.7              2.6               2.6
11               17.8               1.8              2.2               2.0
12               20.0               2.1              2.4               2.2
13               18.7               1.9              2.4               2.1
14               18.4               1.9              2.3               2.1
15               19.6               1.9              2.5               2.2
16               19.6               1.9              2.5               2.2
17               21.9               2.5              2.4               2.5
18               23.6               2.7              2.6               2.6
19               23.6               2.7              2.6               2.6
20               16.8               1.7              2.1               1.9
21               17.8               1.8              2.2               2.0
22               20.0               2.1              2.4               2.2
23               19.9               2.0              2.6               2.2
24               18.7               1.9              2.4               2.1
25               18.4               1.9              2.3               2.1
26               19.6               1.9              2.5               2.2
27               19.6               1.9              2.5               2.2
28               21.9               2.5              2.4               2.5
29               23.6               2.7              2.6               2.6
30               23.6               2.7              2.6               2.6
31               20.7               2.3              2.3               2.3
32               21.0               2.5              2.2               2.4
33               22.5               2.6              2.4               2.5
34               16.8               1.7              2.1               1.9
35               17.8               1.8              2.2               2.0
36               20.0               2.1              2.4               2.2
37               19.9               2.0              2.6               2.2
38               18.7               1.9              2.4               2.1
39               18.4               1.9              2.3               2.1
40               18.6               1.9              2.3               2.1
41               19.6               1.9              2.5               2.2
42               19.6               1.9              2.5               2.2
43               21.9               2.5              2.4               2.5
44               23.6               2.7              2.6               2.6
45               23.6               2.7              2.6               2.6
46               20.7               2.3              2.3               2.3
47               21.0               2.5              2.2               2.4
48               20.3               2.3              2.2               2.3
49               22.5               2.6              2.4               2.5
50               22.1               2.6              2.4               2.5
51               22.7               2.6              2.5               2.6
52               23.5               2.7              2.6               2.6

    (g/km)  RATING  (km)  TIME (h)
0        0     NaN   100         7
1        0     NaN   117         7
2        0     NaN   122         4
3        0     NaN   100         7
4        0     NaN   117         7
5        0     NaN   109         8
6        0     NaN   109         8
7        0     NaN   224         6
8        0     NaN   335        10
9        0     NaN   426        12
10       0     NaN   426        12
11       0     NaN   131         7
12       0     NaN   122         4
13       0     NaN   100         7
14       0     NaN   135         5
15       0     NaN   109         8
16       0     NaN   109         8
17       0     NaN   335        10
18       0     NaN   426        12
19       0     NaN   426        12
20       0     NaN   130         4
21       0     NaN   131         7
22       0     NaN   122         4
23       0     NaN   149         4
24       0     NaN   100         7
25       0     NaN   135         5
26       0     NaN   109         8
27       0     NaN   109         8
28       0     NaN   335        10
29       0     NaN   377        12
30       0     NaN   426        12
31       0     NaN   386        12
32       0     NaN   435        12
33       0     NaN   407        12
34       0    10.0   130         4
35       0    10.0   131         7
36       0    10.0   122         4
37       0    10.0   149         4
38       0    10.0   100         7
39       0    10.0   135         5
40       0    10.0   172         6
41       0    10.0   109         8
42       0    10.0   109         8
43       0    10.0   335        10
44       0    10.0   377        12
45       0    10.0   426        12
46       0    10.0   386        12
47       0    10.0   435        12
48       0    10.0   473        12
49       0    10.0   407        12
50       0    10.0   435        12
51       0    10.0   414        12
52       0    10.0   402        12

First 5 rows:
   YEAR        Make           Model        Size  (kW) Unnamed: 5 TYPE  \
0  2012  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
1  2012      NISSAN            LEAF    MID-SIZE    80         A1    B
2  2013        FORD  FOCUS ELECTRIC     COMPACT   107         A1    B
3  2013  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
4  2013      NISSAN            LEAF    MID-SIZE    80         A1    B

   CITY (kWh/100 km)  HWY (kWh/100 km)  COMB (kWh/100 km)  CITY (Le/100 km)  \
0               16.9              21.4               18.7               1.9
1               19.3              23.0               21.1               2.2
2               19.0              21.1               20.0               2.1
3               16.9              21.4               18.7               1.9
4               19.3              23.0               21.1               2.2

   HWY (Le/100 km)  COMB (Le/100 km)  (g/km)  RATING  (km)  TIME (h)
0              2.4               2.1       0     NaN   100         7
1              2.6               2.4       0     NaN   117         7
2              2.4               2.2       0     NaN   122         4
3              2.4               2.1       0     NaN   100         7
4              2.6               2.4       0     NaN   117         7

First row:
YEAR                       2012
Make                 MITSUBISHI
Model                    i-MiEV
Size                 SUBCOMPACT
(kW)                         49
Unnamed: 5                   A1
TYPE                          B
CITY (kWh/100 km)          16.9
HWY (kWh/100 km)           21.4
COMB (kWh/100 km)          18.7
CITY (Le/100 km)            1.9
HWY (Le/100 km)             2.4
COMB (Le/100 km)            2.1
(g/km)                        0
RATING                      NaN
(km)                        100
TIME (h)                      7
Name: 0, dtype: object

Single column:
0     MITSUBISHI
1         NISSAN
2           FORD
3     MITSUBISHI
4         NISSAN
5          SMART
6          SMART
7          TESLA
8          TESLA
9          TESLA
10         TESLA
11     CHEVROLET
12          FORD
13    MITSUBISHI
14        NISSAN
15         SMART
16         SMART
17         TESLA
18         TESLA
19         TESLA
20           BMW
21     CHEVROLET
22          FORD
23           KIA
24    MITSUBISHI
25        NISSAN
26         SMART
27         SMART
28         TESLA
29         TESLA
30         TESLA
31         TESLA
32         TESLA
33         TESLA
34           BMW
35     CHEVROLET
36          FORD
37           KIA
38    MITSUBISHI
39        NISSAN
40        NISSAN
41         SMART
42         SMART
43         TESLA
44         TESLA
45         TESLA
46         TESLA
47         TESLA
48         TESLA
49         TESLA
50         TESLA
51         TESLA
52         TESLA
Name: Make, dtype: object

DataFrame after dropping columns:
    YEAR        Make  (kW) Unnamed: 5 TYPE  CITY (kWh/100 km)  \
0   2012  MITSUBISHI    49         A1    B               16.9
1   2012      NISSAN    80         A1    B               19.3
2   2013        FORD   107         A1    B               19.0
3   2013  MITSUBISHI    49         A1    B               16.9
4   2013      NISSAN    80         A1    B               19.3
5   2013       SMART    35         A1    B               17.2
6   2013       SMART    35         A1    B               17.2
7   2013       TESLA   270         A1    B               22.4
8   2013       TESLA   270         A1    B               22.2
9   2013       TESLA   270         A1    B               23.8
10  2013       TESLA   310         A1    B               23.9
11  2014   CHEVROLET   104         A1    B               16.0
12  2014        FORD   107         A1    B               19.0
13  2014  MITSUBISHI    49         A1    B               16.9
14  2014      NISSAN    80         A1    B               16.5
15  2014       SMART    35         A1    B               17.2
16  2014       SMART    35         A1    B               17.2
17  2014       TESLA   225         A1    B               22.2
18  2014       TESLA   270         A1    B               23.8
19  2014       TESLA   310         A1    B               23.9
20  2015         BMW   125         A1    B               15.2
21  2015   CHEVROLET   104         A1    B               16.0
22  2015        FORD   107         A1    B               19.0
23  2015         KIA    81         A1    B               17.5
24  2015  MITSUBISHI    49         A1    B               16.9
25  2015      NISSAN    80         A1    B               16.5
26  2015       SMART    35         A1    B               17.2
27  2015       SMART    35         A1    B               17.2
28  2015       TESLA   283         A1    B               22.2
29  2015       TESLA   283         A1    B               23.8
30  2015       TESLA   283         A1    B               23.8
31  2015       TESLA   280         A1    B               20.8
32  2015       TESLA   280         A1    B               22.0
33  2015       TESLA   515         A1    B               23.4
34  2016         BMW   125         A1    B               15.2
35  2016   CHEVROLET   104         A1    B               16.0
36  2016        FORD   107         A1    B               19.0
37  2016         KIA    81         A1    B               17.5
38  2016  MITSUBISHI    49         A1    B               16.9
39  2016      NISSAN    80         A1    B               16.5
40  2016      NISSAN    80         A1    B               17.0
41  2016       SMART    35         A1    B               17.2
42  2016       SMART    35         A1    B               17.2
43  2016       TESLA   283         A1    B               22.2
44  2016       TESLA   283         A1    B               23.8
45  2016       TESLA   283         A1    B               23.8
46  2016       TESLA   386         A1    B               20.8
47  2016       TESLA   386         A1    B               22.0
48  2016       TESLA   386         A1    B               20.8
49  2016       TESLA   568         A1    B               23.4
50  2016       TESLA   568         A1    B               22.9
51  2016       TESLA   386         A1    B               23.2
52  2016       TESLA   568         A1    B               23.6

    HWY (kWh/100 km)  COMB (kWh/100 km)  CITY (Le/100 km)  HWY (Le/100 km)  \
0               21.4               18.7               1.9              2.4
1               23.0               21.1               2.2              2.6